body {
    text-align: center;
    max-width: 700px;
    margin: 10px auto;
    border: 1px blue dotted;
    border-radius: 3px;
}
h1 {
    padding-top: 0;
    color: blue;
}
h1:hover {
    color: aqua;
    text-decoration: underline;
    padding: 10px;
}
.footer {
    margin-bottom: 0;
    border: 2px red solid;
    padding: 10px;
    background-color: grey;
    color: white;
}
.main {
    padding: 30px;
}
.footer:hover {
    background-color: white;
    color: grey;
    border: 3px yellow solid;
}
a:hover {
    color: green;
}
h2 {
    letter-spacing: 3px;
    color: darkslategrey;
    background-color: azure;
    border: 1px lightblue solid;
    border-radius: 5px; 
    width: 300px;
    margin: 0 auto;
}
.copy {
    font-size: 10px;
    font-weight: 600;
    display: inline;
    padding-right: 30px;
}