body {
    text-align: center;
    width: 400px;
    margin: 0 auto;
    border: 1px blue dotted;
    border-radius: 3px;
}
h1 {
    padding-top: 0;
}
.footer {
    margin-bottom: 0;
    border: 2px red solid;
    padding: 10px;
    background-color: grey;
    color: white;
}
.main {
    padding: 30px
}
.footer:hover {
    background-color: white;
    color: grey;
}
a:hover {
    color: green;
}
h2 {
    letter-spacing: 3px;
    color: darkslategrey;
    background-color: azure;
    border: 1px lightblue solid;
    border-radius: 5px; 
}